@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);


#page8-dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#page8-dropdown-menu-0 .navbar-brand a {
  font-size: 20px;
}
#page8-dropdown-menu-0 .nav .link,
#page8-dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#page8-dropdown-menu-0 .navbar,
#page8-dropdown-menu-0 .dropdown-menu {
  background: #cccccc;
}
#page8-dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#page8-dropdown-menu-0 .dropdown-menu a:hover,
#page8-dropdown-menu-0 .dropdown-menu a:focus {
  background: #c2c2c2;
}
#page8-dropdown-menu-0 .navbar-toggler {
  color: #ffffff;
}
#header1-58 P {
  font-size: 19px;
  font-family: 'Ubuntu', sans-serif;
}
#header1-58 H1 {
  font-family: 'Ubuntu', sans-serif;
}




#menu-33 .mbr-brand__name {
  font-size: 16px;
}
#menu-33.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-33 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-33 .mbr-brand__name a {
  font-size: 24px;
  font-family: 'Ubuntu', sans-serif;
}
#menu-33 .mbr-navbar__items a {
  font-family: 'Ubuntu', sans-serif;
}
#header1-34 P {
  font-size: 19px;
  font-family: 'Ubuntu', sans-serif;
}
#header1-34 H1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 46px;
}
#slider-43 H1 {
  color: #ffffff;
}
#slider-43 P {
  color: #ffffff;
}


#page8-dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#page8-dropdown-menu-0 .navbar-brand a {
  font-size: 20px;
}
#page8-dropdown-menu-0 .nav .link,
#page8-dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#page8-dropdown-menu-0 .navbar,
#page8-dropdown-menu-0 .dropdown-menu {
  background: #cccccc;
}
#page8-dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#page8-dropdown-menu-0 .dropdown-menu a:hover,
#page8-dropdown-menu-0 .dropdown-menu a:focus {
  background: #c2c2c2;
}
#page8-dropdown-menu-0 .navbar-toggler {
  color: #ffffff;
}
#header1-14 P {
  font-size: 19px;
  font-family: 'Ubuntu', sans-serif;
}
#header1-14 H1 {
  font-family: 'Ubuntu', sans-serif;
}
#content4-36 P {
  text-align: center;
}
#content4-37 P {
  text-align: center;
}
#content4-33 .mbr-section__col .mbr-header__text {
  text-align: center;
}
#content4-33 P {
  text-align: center;
}
#content4-34 P {
  text-align: center;
}
#content4-34 .mbr-section-title .mbr-header__text {
  color: #252525;
}
#content4-58 P {
  text-align: center;
}
#content4-59 P {
  text-align: center;
}
#content4-60 P {
  text-align: center;
}
#content4-61 P {
  text-align: center;
}
#content4-62 P {
  text-align: center;
}
#content4-63 P {
  text-align: center;
}
#msg-box3-65 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-65 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-65 .mbr-article P {
  text-align: center;
}
#content4-66 P {
  text-align: center;
}



#header1-36 {
P {
	font-size: 19px;
	font-family: 'Ubuntu', sans-serif;
}
H1 {
	font-family: 'Ubuntu', sans-serif;
}
}

#content4-55 {
P {
	text-align: center;
}
}

#content4-57 {
P {
	text-align: center;
}
}

#social-buttons2-42 {
}

#footer1-43 {
}

#_BUY NOW' OVERVIEW-dropdown-menu-0 {
.hide-buttons [data-button] {
	display: none !important;
}
.navbar-brand a {
	font-size: 20px;
}
.nav .link, .dropdown-item {
	font-size: 1em;
	color: #ffffff;
}
.navbar, .dropdown-menu {
	background: #cccccc;
}
.dropdown-menu .dropdown-toggle[aria-expanded="true"], .dropdown-menu a:hover, .dropdown-menu a:focus {
	background: #c2c2c2;
}
.navbar-toggler {
	color: #ffffff;
}
}


#page8-header1-0 P {
  font-size: 19px;
  font-family: 'Ubuntu', sans-serif;
}
#page8-header1-0 H1 {
  font-family: 'Ubuntu', sans-serif;
}
#page8-content4-2 P {
  text-align: center;
}
#page8-dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#page8-dropdown-menu-0 .navbar-brand a {
  font-size: 20px;
}
#page8-dropdown-menu-0 .nav .link,
#page8-dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#page8-dropdown-menu-0 .navbar,
#page8-dropdown-menu-0 .dropdown-menu {
  background: #cccccc;
}
#page8-dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#page8-dropdown-menu-0 .dropdown-menu a:hover,
#page8-dropdown-menu-0 .dropdown-menu a:focus {
  background: #c2c2c2;
}
#page8-dropdown-menu-0 .navbar-toggler {
  color: #ffffff;
}


#page8-dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#page8-dropdown-menu-0 .navbar-brand a {
  font-size: 20px;
}
#page8-dropdown-menu-0 .nav .link,
#page8-dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#page8-dropdown-menu-0 .navbar,
#page8-dropdown-menu-0 .dropdown-menu {
  background: #cccccc;
}
#page8-dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#page8-dropdown-menu-0 .dropdown-menu a:hover,
#page8-dropdown-menu-0 .dropdown-menu a:focus {
  background: #c2c2c2;
}
#page8-dropdown-menu-0 .navbar-toggler {
  color: #ffffff;
}
#header1-45 P {
  font-size: 19px;
  font-family: 'Ubuntu', sans-serif;
}
#header1-45 H1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 46px;
}
#msg-box3-49 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-49 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-49 .mbr-article P {
  text-align: center;
}




#menu-31 .mbr-brand__name {
  font-size: 16px;
}
#menu-31.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-31 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-31 .mbr-brand__name a {
  font-size: 24px;
  font-family: 'Ubuntu', sans-serif;
}
#menu-31 .mbr-navbar__items a {
  font-family: 'Ubuntu', sans-serif;
}
#header1-32 P {
  font-size: 19px;
  font-family: 'Ubuntu', sans-serif;
}
#header1-32 H1 {
  font-family: 'Ubuntu', sans-serif;
}
#msg-box3-33 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-33 .mbr-header .mbr-header__subtext {
  text-align: center;
}


#page8-dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#page8-dropdown-menu-0 .navbar-brand a {
  font-size: 20px;
}
#page8-dropdown-menu-0 .nav .link,
#page8-dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#page8-dropdown-menu-0 .navbar,
#page8-dropdown-menu-0 .dropdown-menu {
  background: #cccccc;
}
#page8-dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#page8-dropdown-menu-0 .dropdown-menu a:hover,
#page8-dropdown-menu-0 .dropdown-menu a:focus {
  background: #c2c2c2;
}
#page8-dropdown-menu-0 .navbar-toggler {
  color: #ffffff;
}
#header1-1 P {
  font-size: 19px;
  font-family: 'Ubuntu', sans-serif;
}
#header1-1 H1 {
  font-family: 'Ubuntu', sans-serif;
}
#content5-4 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-4 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-4 .mbr-article {
  color: #fff;
}
#content5-4 .mbr-article P {
  font-size: 15px;
}
#features1-5 P {
  font-size: 15px;
  text-align: center;
}
